<div class="main-panel">
	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">User Management</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="/admin/home">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">User Management</a>
					</li>
				</ul>
			</div>

			<div class="row">

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="d-flex align-items-center">
								<h4 class="card-title">Users Database</h4>
								<button class="btn btn-primary btn-round ml-auto"
									onclick="window.location.href='/admin/user_add'">
									<i class="fa fa-plus"></i>
									User
								</button>
							</div>
						</div>
						<div class="card-body">

							<div class="table-responsive">
								<table id="basic-datatables" class="display table table-striped table-hover">
									<thead>
										<tr>
											<th>Name</th>
											<th>Email</th>
											<th>Status</th>
											<th style="width: 10%">Action</th>
										</tr>
									</thead>
									{{!-- <tfoot>
										<tr>
											<th>Name</th>
											<th>Position</th>
											<th>Office</th>
											<th>Action</th>
										</tr>
									</tfoot> --}}
									<tbody>
										{{#each data}}
										<tr>
											<td>{{this.name}}</td>
											<td>{{this.email}}</td>
											<td>
												{{#if this.status}}
												Active
												{{else}}
												Block
												{{/if}}

											</td>
											<td>
												<div class="form-button-action">
													<button class="btn btn-outline-primary mr-1"
														onclick="return confirm ('Are you sure?')?window.location.href='edit_user/{{this._id}}':''">
														<i class="fas fa-edit"></i> </button>
													<button class="btn btn-outline-danger mr-1"
														onclick="return confirm ('Delete {{this.name}}?')?window.location.href='delete_user/{{this._id}}':''">
														<i class="fas fa-trash"></i>
													</button>
													<button class="btn btn-outline-warning mr-1"
														onclick="return confirm ('Block {{this.name}}?')?window.location.href='block_user/{{this._id}}':''">
														<i class="fas fa-shield-alt"></i>
													</button>
													<button class="btn btn-outline-success"
														onclick="return confirm ('Reset user password?')?window.location.href='reset_user/{{this._id}}'  : '' ">
														<i class="fas fa-key"></i>
													</button>
												</div>
											</td>
										</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>